{% extends 'layout/layout.html' %}

{% block title %}MathTaupe{% endblock %}

{% block content %}
<h2>Page d'accueil</h2>
<p>Bonjour {{ account['firstname'] }} ! {% if account['law'] == "student" %}<br><br> Que fait tu ici ? Retourne sur ta console, reviser ne sert à rien !{% endif %}</p>

{% if account['law'] == "student" %}
    <p>
        <a href="{{ url_for('exercise', operator='addition',       pos='début') }}"><button class="operator"><i class="fas fa-home"></i> Addition</button></a>
        <a href="{{ url_for('exercise', operator='soustraction',   pos='début') }}"><button class="operator"><i class="fas fa-home"></i> Soustraction</button></a>
        <a href="{{ url_for('exercise', operator='multiplication', pos='début') }}"><button class="operator"><i class="fas fa-home"></i> Multiplication</button></a>
        <a href="{{ url_for('exercise', operator='division',       pos='début') }}"><button class="operator"><i class="fas fa-home"></i> Division</button></a>
        <a href="{{ url_for('exercise', operator='prof',           pos='début') }}"><button class="operator"><i class="fas fa-home"></i> Feuille de révision</button></a>
    </p>
{% endif %}

{% if result %}
<div>
    <p>Les dix meilleurs scores d'entrainement ci-dessous :</p>
    <table>
        <tr>
            <td>Position</td>
            <td>Nom</td>
            <td>Prénom</td>
            <td>Pourcentage de réussite</td>
            <td>Délais</td>
            <td>Opérateur</td>
        </tr>
        {% for id, r in result.items() %}
        <tr>
            <td>{{ id }}</td>
            <td>{{ r['firstname' ]}}</td>
            <td>{{ r['surname'] }}</td>
            <td>{{ r['percent'] }}%</td>
            <td>{{ r['duration'] }}</td>
            <td>{{ r['operator'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

{% endblock %}