{% extends 'layout/layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Page de profil</h2>
<div>
    <p>Les détails de votre compte sont ci-dessous :</p>
    <table id="profile">
        <tr>
            <td>Identifiant:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Mot de Passe:</td>
            <td>{{ account['password'] }}</td>
        </tr>
        <tr>
            <td>Prénom:</td>
            <td>{{ account['firstname'] }}</td>
        </tr>
        <tr>
            <td>Nom:</td>
            <td>{{ account['surname'] }}</td>
        </tr>
        <tr>
            <td>Ecole:</td>
            <td>{{ school['name'] }}</td>
        </tr>
        <tr>
            <td>Classe:</td>
            <td>{{ classes['name'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}