<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="login">
			<h1>Modifier l'école : {{ school['name'] }}</h1>
			<form action="{{ url_for('list_school_edit', id=id) }}" method="post">

                <input type="text" name="name" placeholder="Nom" id="name" value="{{ school['name'] }}" required>
				<input type="text" name="address" placeholder="Adresse" id="address" value="{{ school['address'] }}" required>
				<input type="text" name="zip_code" placeholder="Code Postal" id="zip_code" value="{{ school['zip_code'] }}" required>
				<input type="text" name="city" placeholder="Ville" id="city" value="{{ school['city'] }}" required>

				<input type="submit" value="Modifier l'école : {{ school['name'] }}">
			</form>
		</div>
	</body>
</html>