{% extends 'layout/layout.html' %}

{% block title %}MathTaupe{% endblock %}

{% block content %}
<h2>Gestion des Ecoles</h2>

<div>
    <table>
        <tr>
            <td>Ecole</td>
            <td>Adresse</td>
            <td>Code Postal</td>
            <td>Ville</td>
            <td>
                <a href="{{ url_for('list_school_new') }}"><button><i class="fas fa-school"></i> Nouvelle Ecole</button></a>
            </td>
        </tr>
        {% if schools %}
        {% for school in schools %}
        <tr>
            <td>{{ school['name'] }}</td>
            <td>{{ school['address'] }}</td>
            <td>{{ school['zip_code'] }}</td>
            <td>{{ school['city'] }}</td>
            <td>
                <a href="{{ url_for('list_school_edit', id=school['id']) }}"><button><i class="fas fa-home"></i> Editer</button></a>
                <a href="{{ url_for('list_school_delete', id=school['id']) }}"><button><i class="fas fa-home"></i> Supprimer</button></a>
            </td>

        </tr>
        {% endfor %}
        {% endif %}

    </table>
</div>
{% endblock %}