<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="login">
			<h1>Ajouter une nouvelle école</h1>
			<form action="{{ url_for('list_school_new') }}" method="post">

                <input type="text" name="name" placeholder="Nom" id="name" required>
				<input type="text" name="address" placeholder="Adresse" id="address" required>
				<input type="text" name="zip_code" placeholder="Code Postal" id="zip_code" required>
				<input type="text" name="city" placeholder="Ville" id="city" required>

				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Ajouter une nouvelle école">
			</form>
		</div>
	</body>
</html>