{% extends 'layout/layout.html' %}

{% block title %}MathTaupe{% endblock %}

{% block content %}

<div>
    <table>
        <tr>
            <td>Feuilles de révision</td>
            <td></td>
        </tr>
        {% if list_exos %}
        {% for list_exo in list_exos %}
        <tr>
            <td>{{ list_exo['name'] }}</td>
            <td>
                <a href="{{ url_for('exercise', operator='prof_'+list_exo['id_list_exo'], pos='début') }}"><button class="operator"><i class="fas fa-home"></i> Démarrer l'entrainement : {{ list_exo['name'] }}</button></a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}

    </table>
</div>

{% endblock %}