<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>MathTaupe</h1>
                <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Accueil</a>
				<a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>Profile</a>
				{% if account['law'] == "admin" %}
				<a href="{{ url_for('list_school') }}"><i class="fas fa-school"></i>Gestion des Ecoles</a>
				{% endif %}
				{% if account['law'] == "professor" %}
				<a href="{{ url_for('list_class') }}"><i class="fas fa-school"></i>Gestion des Classes</a>
				<a href="{{ url_for('list_exo') }}"><i class="fas fa-leaf"></i>Feuilles de Révision</a>
				{% endif %}
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Déconnexion</a>
			</div>
		</nav>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>