<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

		<script>
			function addRow() {
				// get input values
				var second_numb = document.getElementById('second_numb').value;
				var first_numb = document.getElementById('first_numb').value;
				var operator = document.getElementById('operator').value;

				// get the html table
				// 0 = the first table
				var table = document.getElementById('exo');

				var numb = table.rows.length;

				// add new empty row to the table
				// 0 = in the top
				// table.rows.length = the end
				// table.rows.length/2+1 = the center
				var newRow = table.insertRow(-1);
				newRow.setAttribute("id", numb)

				// add cells to the row
				var cel1 = newRow.insertCell(0);
				var cel2 = newRow.insertCell(1);
				var cel3 = newRow.insertCell(2);
				var cel4 = newRow.insertCell(3);

				// add values to the cells
				cel1.innerHTML = '<input type="number" class="list_exo_input" name="first_numb__'+numb+'" id="first_numb__'+numb+'" value="'+first_numb+'" readonly>';
				cel2.innerHTML = '<input type="number" class="list_exo_input" name="second_numb__'+numb+'" id="second_numb__'+numb+'" value="'+second_numb+'" readonly>';
				cel3.innerHTML = '<input type="textarea" class="list_exo_input" name="operator__'+numb+'" id="operator__'+numb+'" value="'+operator+'" readonly>';
				cel4.innerHTML = '<button onclick="deleteRow('+numb+');" class="list_exo_button">Supprimer</button>';
			}
			function deleteRow(rowid){

				var row = document.getElementById(rowid);
				var table = row.parentNode;
				while ( table && table.tagName != 'TABLE' )
					table = table.parentNode;
				if ( !table )
					return;
				table.deleteRow(row.rowIndex);
			}
		</script>
	</head>
	<body>
		<div class="login" style="width: 1000px">
			<h1>Créer une nouvelle feuille de révision</h1>

			<div>
				Premier Chiffre : <input type="number" name="first_numb" id="first_numb" />
				Second Chiffre : <input type="number" name="second_numb" id="second_numb" />
				Opérateur :
				<select name="operator" id="operator">
					<option value="addition">Addition</option>
					<option value="soustraction">Soustraction</option>
					<option value="multiplication">Multiplication</option>
					<option value="division">Division</option>
				</select>

				<button onclick="addRow();">Ajouter la question</button><br/>
			</div>

			<form action="{{ url_for('list_exo_new') }}" method="post">

				<label for="name">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="name" placeholder="Nom" id="name" required>

				<table id="exo" border="1">
					<tr>
						<th>Premier Chiffre</th>
						<th>Second Chiffre</th>
						<th>Opérateur</th>
						<th></th>
					</tr>
				</table>

				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Créer la feuille de révision">
			</form>
		</div>
	</body>
</html>