{% extends '/layout/layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Liste des fiches de révision</h2>
<div>
    <p>Les détails de votre compte sont ci-dessous :</p>
    <table>
        <tr>
            <td>Nom d'utilisateur:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Mot de Passe:</td>
            <td>{{ account['password'] }}</td>
        </tr>
        <tr>
            <td>Mail:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}